# Supabase Credentials Configuration
NEXT_PUBLIC_SUPABASE_URL=https://prammkkcoxesohigrgek.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_yPmLTXKxwsuKoCb8xCM2Uw_8XGwEbH4

VITE_SUPABASE_URL=https://prammkkcoxesohigrgek.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-public-key-here
